* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coffee {
   min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
}
.coffee img {
   width: 70%;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle {
    width: 20rem;
    height: 20rem;
    background: linear-gradient(to right,
    rgba(62, 52, 10, 0.75),
    rgba(215, 183, 138, 0.75));
    position: absolute;
  border-radius: 50%;
  z-index: 1;
}
.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 transform-style: preserve-3d;
perspective: 1000px;


}
.card {
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 35rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;

}
.info {
      transform-style: preserve-3d;
}
.info h1 {
  font-size: 2.5rem;
  transition: all 0.75s ease-out;
  transform-style: preserve-3d;
  align-items: center;
  font-weight: 600;
  text-align: center;

}
.info h3 {
    font-size: 1.3rem;
    padding: 2rem 0rem;
    font-weight: 200;
    color: rgb(164, 164, 164);
    transition: all 0.75s ease-out;

}

.grindtype {
   display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
    transform-style: preserve-3d;

}
.grindtype button {
    padding: 0.2rem 2rem;
    cursor: pointer;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0,0,0, 0.2);
    border-radius: 30px;
    color: rgb(164, 164, 164);
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
        transform-style: preserve-3d;

}

button.active {
    background:rgb(164, 164, 164);
    color: white;
}
.grindtype button:hover {
    background:rgb(164, 164, 164);
    color: white;

}

.purchase {
  margin-top: 2rem;
  transition: all 0.75s ease-out;
      transform-style: preserve-3d;

}
.purchase button {
width: 100%;
padding: 1rem 0rem;
background: rgb(68, 58, 58);
border: none;
color:white; 
cursor: pointer; 
border-radius: 30px;
font-weight:bolder;
}

.purchase button:hover {
    color: rgb(68, 58, 58);
    background:rgb(164, 164, 164);
}